343/prep9/farm.dtd

<!ELEMENT DATA (ANIMALS+, FARMS*)>
<!ELEMENT ANIMALS (COW|HEN)+>
<!ELEMENT FARMS (FARM)+>
<!ELEMENT COW EMPTY>
<!ELEMENT HEN EMPTY>
<!ELEMENT FARM (#PCDATA)>
<!ATTLIST COW name CDATA #REQUIRED>
<!ATTLIST COW home CDATA #REQUIRED>
<!ATTLIST HEN name CDATA #REQUIRED>
<!ATTLIST HEN home CDATA #REQUIRED>
<!ATTLIST HEN birthdate CDATA #REQUIRED>
<!ATTLIST FARM owner CDATA #REQUIRED name CDATA #REQUIRED>
